body {
  font-family: 'Open sans', sans serif;
  display: grid;
  grid-template-columns: 17% 58% 26%;
  grid-template-rows: 4.5% 8.5% 3.5% 23% 2px 57%;
  height: 1300px;
}

.sidebar {
  background-color: #364051;
  grid-row: 1 / span 6;
}
.user-circle {
  border-radius: 50px;
  height: 6rem;

}
.navbar {
  grid-row: 1;
  grid-column: 2 / span 2;
}

.job-title {
  grid-row: 2;
  grid-column: 2 / span 2;
}

.byline {
  grid-row: 2;
  grid-column: 2 / span 2;
}

.circle-btns {
  background-color: #000;
  border-radius: 2px;
  grid-row: 2;
  grid-column: 3;
}

table {
  height: auto;
  width: 800px;
}

.table-head {
  background-color: #717E93;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
}
